<div class="container-fluid">
    <h3>Send a Request</h3>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="legacy">
            <input matInput placeholder="User name" formControlName="username">
            <mat-error *ngIf="contactForm.get('username').hasError('required')">User name is required</mat-error>
            <mat-error *ngIf="contactForm.get('username').hasError('minlength')">Min lenght is 3</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Firma" formControlName="firma">
            <mat-error *ngIf="contactForm.get('firma').hasError('required')">Firma name is required</mat-error>
            <mat-error *ngIf="contactForm.get('firma').hasError('minlength')">Min lenght is 3</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Tel number" formControlName="telefon">
            <mat-error *ngIf="contactForm.get('telefon').hasError('required')">Telefon is required</mat-error>
            <mat-error *ngIf="contactForm.get('telefon').hasError('minlength')">Min lenght is 3</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Enter your email (pat@example.com)" formControlName="email" required>
            <mat-error *ngIf="contactForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="legacy">
            <textarea matInput placeholder="Message" formControlName="messageText"></textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button type="submit">Submit</button>
    </form>
</div>