.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container-md {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 3.9px;
}

img {
    height: 28.5vw;
    width: auto;
}


/*
@media only screen and (max-width: 768px) {
    .container-fluid {
        width: 97%;
        padding-right: .3%;
        margin-top: 7.2%;
    }
    img {
        height: 28.6vw;
        width: 100%;
    }
}*/