* {
    outline: none;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container-md {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 3.9px;
}

img {
    height: 28.5vw;
    width: auto;
}

@media only screen and (max-width: 568px) {
    .container-fluid {
        margin-left: -13px;
        margin-top: 6px;
    }
}