<div class="container-fluid d-flex align-items-center">
        <ngb-carousel #carousel [interval]="2000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <!--fotolarin uzerine yazi yazmak istiyorsan buranin icine yazabilirsiniz!!!
                <div class="carousel-caption"></div>
                -->
                <div>
                    <img class="img-fluid img-thumbnail" [src]="img" alt="My image {{i + 1}} description">
                </div>
            </ng-template>
        </ngb-carousel>
</div>