.container-fluid {
    width: 94%;
    margin: auto;
    margin-top: 7.2%;
    text-align: center;
    padding-left: 5.4%;
}

.container-md {
    width: 90%;
    height: auto;
    margin: auto;
}

img {
    height: 28.3vw;
    width: auto;
}

@media only screen and (max-width: 768px) {
    .container-fluid {
        width: 97%;
        padding-right: .3%;
        margin-top: 7.2%;
    }
    img {
        height: 28.6vw;
        width: 100%;
    }
}