<div>
    <mat-grid-list class="container-home" cols="1" rowHeight="fit" style="height: 760px;">
        <mat-grid-tile>
            <mat-grid-tile-header style="height: auto; background-color: transparent;">
                <img class="img-fluid img-logo" src="../assets/images/comerdtechlogo.png" alt="Responsive image" style="margin: auto;">
            </mat-grid-tile-header>

            <div style="width: 100%;">
                <mat-grid-list cols="12" rowHeight="600px">
                    <mat-grid-tile colspan="2">
                        <div class="md-up" style="width: 100%;">
                            <div style="width: 100%; text-align: end;">
                                <button class="button-full-screen" mat-raised-button routerLink="/home"><div class="button-span">Home</div></button>
                            </div>
                            <div style="width: 100%; text-align: end;">
                                <button class="button-full-screen" mat-raised-button routerLink="/gallery"><div class="button-span">Gallery</div></button>
                            </div>
                        </div>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="8" style="width: 100%;">
                        <mat-grid-list cols="12" rowHeight="100%" style="width: 100%;">
                            <mat-grid-tile colspan="2"></mat-grid-tile>
                            <mat-grid-tile colspan="8" class="router-outlt">
                                <div style="width: 100%;">
                                    <router-outlet></router-outlet>
                                </div>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2"></mat-grid-tile>
                        </mat-grid-list>
                        <!--
                        <div id="coloumn1" class="g grid-50"></div>
                        <div id="coloumn4" class="g grid-50"></div>
                        -->
                    </mat-grid-tile>

                    <mat-grid-tile colspan="2">
                        <div class="md-up" style="width: 100%;">
                            <div style="width: 100%;">
                                <button class="button-full-screen" mat-raised-button routerLink="/ueber-uns"><div class="button-span">Über Uns</div></button>
                            </div>
                            <div style="width: 100%;">
                                <button class="button-full-screen" mat-raised-button routerLink="/kontakt"><div class="button-span">Kontakt</div></button>
                            </div>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <mat-grid-tile-footer class="footer">
                <div class="col-8">
                    <div class="row justify-content-start">Copyright © Comerd-Tech GmbH - All rights reserved. </div>
                </div>
                <div class="col-4">
                    <div class="row justify-content-end">
                        Made by <a href="https://www.baycom.ch">baycom</a>
                    </div>
                </div>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
</div>