* {
    box-sizing: border-box;
}

.container-home {
    /*z-index: -1;*/
    background: url('~/assets/images/Lift.png');
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.img-logo {
    width: 70%;
    margin: auto;
}

.container-lift {
    width: 89%;
    height: 38vw;
    overflow: hidden;
    margin-top: 1.7vw;
    margin-right: 2px;
}

#coloumn1 {
    position: relative;
    -webkit-animation-name: coloumn1;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation-name: coloumn1;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-top: 0px;
    z-index: 1;
}

#coloumn4 {
    position: relative;
    -webkit-animation-name: coloumn4;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards;
    /* Safari 4.0 - 8.0 */
    animation-name: coloumn4;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    margin-top: 0px;
    z-index: 10;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes coloumn1 {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(-100%)
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes coloumn4 {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(100%)
    }
}

@keyframes coloumn1 {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(-100%)
    }
}

@keyframes coloumn4 {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(100%)
    }
}

@media (max-width: 600px) {
    .container {
        height: 300px;
        overflow: hidden;
    }
}

.g {
    background-image: url("~/assets/images/aufzug2.PNG");
    height: 100%;
    color: white;
    font: 18px Arial;
    float: left;
}

.grid-50 {
    display: flex;
    flex-wrap: nowrap;
    width: calc(50% - 0px);
    height: 100%;
    overflow: hidden;
}

.footer {
    margin-top: 2px;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: small;
}

a {
    color: white;
    margin-left: 3px;
}

button {
    margin-top: 20%;
    outline: none;
    width: 80px;
}

.md-down {
    display: none;
}

@media only screen and (max-width: 768px) {
    .md-up {
        display: none;
    }
    .md-down {
        display: inherit;
    }
    /*
    .container-home {
        height: 548px;
    }
    .container-lift {
        width: 100%;
        height: 100%;
    }
    .footer {
        font-size: smaller;
    }
    .img-logo {
        background: url("~/assets/images/comerdtechlogo2.png");
        background-repeat: no-repeat;
        /* Do not repeat the image 
        background-size: cover;
        width: 100%;
        height: 60px;
    }
    .nav-link {
        font-size: x-small;
    }
    .nav-link:hover {
        background-color: rgba(256, 256, 256, .35);
        color: black;
    }
    */
    .container-home {
        height: auto;
    }
    .footer {
        font-size: smaller;
    }
    .img-logo {
        background: url("~/assets/images/comerdtechlogo.png");
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        height: 9vw;
    }
    .row-nav {
        background-color: rgba(0, 0, 0, .75);
        border: 2px solid rgba(0, 0, 0, .75);
    }
    .nav-link {
        font-size: x-small;
    }
    .nav-link:hover {
        background-color: rgba(256, 256, 256, 1);
        color: black;
    }
}