<div class="container-fluid">
    <div class="container-home">
        <header>
            <div class="row">
                <img class="img-fluid img-logo" src="../assets/images/comerdtechlogo.png" alt="Responsive image">
            </div>
            <nav class="md-down">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
                        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" style="outline: none; background-color: none;">
                          &#9776;
                        </button>

                        <!-- Step 2: Add the ngbCollapse directive to the element below. -->
                        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse nav-bg-custom">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <!-- Step 4: Close the menu when a link is clicked. -->
                                    <a class="nav-link" routerLink="/home" (click)="isMenuCollapsed = true">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/gallery" (click)="isMenuCollapsed = true">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/ueber-uns" (click)="isMenuCollapsed = true">Über Uns</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/kontakt" (click)="isMenuCollapsed = true">Kontakt</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </nav>
        </header>

        <main>
            <div class="row">
                <div class="col-2 align-self-center  md-up">
                    <div class="row justify-content-end margintop-768">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="button-full-screen" mat-raised-button routerLink="/home"><div class="button-span">Home</div></button>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button class="button-full-screen" mat-raised-button routerLink="/gallery"><div class="button-span">Gallery</div></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 lift">
                    <div class="row justify-content-center">
                        <div class="col-2">
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <div class="container-lift">
                                <router-outlet>
                                </router-outlet>
                                <div id="coloumn1" class="g grid-50"></div>
                                <div id="coloumn4" class="g grid-50"></div>
                            </div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>
                <div class="col-2 align-self-center md-up">
                    <div class="row justify-content-end margintop-768">
                        <div class="col-12 d-flex justify-content-start">
                            <button class="button-full-screen" mat-raised-button routerLink="/ueber-uns"><div class="button-span">Über Uns</div></button>
                        </div>
                        <div class="col-12 d-flex justify-content-start">
                            <button class="button-full-screen" mat-raised-button routerLink="/kontakt"><div class="button-span">Kontakt</div></button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div style="width: 100%; height: 15vw;"></div>
    </div>
    <footer>
        <div class="row">
            <div class="kontakt-info col-8"></div>
            <div class="col-4">
                <div class="row pt-2 footer-fs">
                    <div class="col-12">
                        <div class="row justify-content-end">Copyright © Comerd-Tech GmbH - All rights reserved. </div>
                    </div>
                    <div class="col-12 mt-5 pt-5">
                        <div class="row justify-content-end">
                            Made by <a href="https://www.baycom.ch">baycom</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>